<footer>
    <div class="ps ps-footer">
        <div class="contact-footer">
            <h1>Contact Us</h1>
        </div>
        <hr>
        <div class="contact-link">
            <ul>
                <li>
                    <a href=""><span><i class="fab fa-instagram"></i></span> Instagram</a>
                </li>
                <li>
                    <a href=""><span><i class="fab fa-facebook"></i></span> Facebook</a>
                </li>
                <li>
                    <a href=""><span><i class="far fa-envelope"></i></span> caffe@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
</footer>